<% layout('/layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= cargo.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= cargo.type %>
                    </h5>
                    <p class="card-text">
                        <%= cargo.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Submitted by <%= cargo.author.username %>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= cargo.location %> - <%= cargo.destination %>
                    </li>
                    <li class="list-group-item">
                        <%=cargo.weight%> kg
                    </li>
                </ul>
                <% if(currentUser && cargo.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/cargopanel/<%=cargo._id %>/edit" class="card-link btn btn-outline-success">Edit</a>
                        <form class="d-inline" action="/cargopanel/<%=cargo._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
            </div>
        </div>

        <div class="col-6" mb-3>

            <h3>Leave a Bid</h3>
            <form action="/cargopanel/<%=cargo._id%>/bids" method="POST" class="mb-3 validated-form" novalidate>
                <div class="input-group mb-3">

                    <label class="form-label" for="body">

                    </label>
                    <textarea class="form-control" type="text" id="body" name="bid[message]"
                        placeholder="Additional Notes" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Bidding available: Enter bid amount"
                        aria-label="Bid Amount" aria-describedby="button-addon2" name="bid[amount]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <button class="btn btn-outline-success" type="submit" id="button-addon2">
                        <span class="spinner-border spinner-border-sm" role="submit" aria-hidden="true"></span>
                        Bid Now...

                </div>
            </form>
            <% if(currentUser && cargo.author.equals(currentUser._id)){ %>
                <% for (let bid of cargo.bids) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                Offer: $ <%=bid.amount %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                by <%= bid.author.username %>
                                    <p class="starability-result" data-rating="3">
                                        <!-- bid.author.rating -->
                                    </p>
                            </h6>
                            <p class="card-text">
                                <%=bid.message %>
                            </p>
                        </div>
                        <% if(currentUser && bid.author.equals(currentUser._id)){ %>
                            <form action="/cargopanel/<%=cargo._id%>/bids/<%=bid._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>
                    <% } %>
        </div>
        <% } %>

    </div>