<% layout('/layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row mt-3">
        <div class="col-6">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% cargo.images.forEach((image,i)=> { %>
                        <div class="carousel-item <%= i===0 ? 'active' : '' %> ">
                            <img src="<%= image.url %>" class="d-block w-100 card-img-top" alt="...">
                        </div>

                        <% }) %>
                </div>
                <% if(cargo.images.length> 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#cargoCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#cargoCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= cargo.type %>
                    </h5>
                    <p class="card-text">
                        <%= cargo.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Submitted by <%= cargo.author.username %>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= cargo.location %> - <%= cargo.destination %>
                    </li>
                    <li class="list-group-item">
                        <%=cargo.weight%> kg
                    </li>
                </ul>
                <% if(currentUser && ( cargo.author.equals(currentUser._id) || currentUser.role==='admin')) { %>
                    <div class="card-body">
                        <a href="/cargopanel/<%=cargo._id %>/edit" class="card-link btn btn-outline-success">Edit</a>
                        <form class="d-inline" action="/cargopanel/<%=cargo._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
            </div>
        </div>

        <div class="col-6 ">
            <div id='map' class='mb-3'></div>

            <h3>Leave a Bid</h3>
            <form action="/cargopanel/<%=cargo._id%>/bids" method="POST" class="mb-3 validated-form" novalidate>
                <div class="input-group mb-3">

                    <label class="form-label" for="body">

                    </label>
                    <textarea class="form-control" type="text" id="body" name="bid[message]"
                        placeholder="Additional Notes" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="bid-amount">$</span>
                    <input type="number" class="form-control" placeholder="Bidding available: Enter bid amount"
                        aria-label="bid-amount" aria-describedby="bid-amount" name="bid[amount]" required>

                    <div class="valid-feedback">
                        Looks good!
                    </div>

                    <button class="btn btn-outline-success" type="submit" id="button-addon2">
                        <span class="spinner-border spinner-border-sm" role="submit" aria-hidden="true"></span>
                        Bid Now...

                </div>
            </form>
           
                <% for (let bid of cargo.bids) { %>
                    <% if(currentUser && (cargo.author.equals(currentUser._id) || bid.author._id.equals(currentUser._id) || currentUser.role==='admin')){ %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                Offer: $ <%=bid.amount %>

                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                by <%= bid.author.username %>
                             <%     if(bid.author.role === "driver"){ %>
                                <a href="/profile/<%=bid.author.username%>">
                                    <span class="badge bg-warning">&#10003; Verified Driver</span>
                               <%  } %> 
                                    <p class="starability-result" data-rating="4">
                                        <!-- bid.author.rating -->
                                    </p>
                            </h6></a>   

                            <p class="card-text">
                                <%=bid.message %>
                            </p>
                        </div>
                        <% if(currentUser && (bid.author.equals(currentUser._id) || currentUser.role==='admin')){ %>
                            <div class="btn-group align-self-end">
                                <form action="/cargopanel/<%=cargo._id%>/bids/<%=bid._id%>" method="GET">
                                    <button class="btn btn-sm btn-outline-success ">&#9998; Revise</button>
                                </form>
                                <form action="/cargopanel/<%=cargo._id%>/bids/<%=bid._id%>?_method=DELETE" method="POST"
                                    class="mb-3 ">
                                    <button class="btn btn-sm btn-danger">&#8998; Delete</button>
                                </form>
                            </div>
                                <% }else if(currentUser && cargo.author.equals(currentUser._id)){%>
                                    <div class="btn-group align-self-end">
                                        <form action="" method="GET">
                                            <button class="btn btn-sm btn-outline-success ">Accept</button>
                                        </form>
                                        <form action="" method="POST"
                                            class="mb-3 ">
                                            <button class="btn btn-sm btn-danger">Decline</button>
                                        </form>
                                    </div>
                            <% }}} %>

                    </div>


        </div>

    </div>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const cargo = <%- JSON.stringify(cargo) %>

    </script>

    <script src="/javascripts/showPageMap.js"></script>
